@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <h2>Dropdown with Actions</h2>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-trash-alt"></i> Delete
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-download"></i> Download
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-eye"></i> View
            </a>
        </div>
    </div>
</div>

<!-- Dropdown with actions -->
@* <div>
    <label for="actionDropdown">Select Action:</label>
    <select id="actionDropdown">
        <option value="delete">&#xf1f8; Delete</option>
        <option value="edit">&#xf044; Edit</option>
        <option value="download">&#xf019; Download</option>
        <option value="view">&#xf06e; View</option>
    </select>
</div>
 *@